<!DOCTYPE html>
<html lang="en">
<head>
  <title>Marketplace of Ideas</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    .form-signin {
      max-width: 440px;
      margin: 0 auto;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>

<body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'home' %}">Marketplace of Ideas</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form action="/results" method="post" class="navbar-form navbar-left" role="search">
                {% csrf_token %}
                <input name="query" type="text" class="form-control" placeholder="Search">
                <button type="submit" class="btn btn-default">Submit</button>
              </form>
            </li>
            <li><a href="{% url 'new_blogpost' %}"> Submit a post!</a></li>
            <li><a href="{% url 'login' %}">Sign in</a></li>
            <li><a href="{% url 'signout' %}">Sign out</a></li>
          </ul>
        </div>
      </div>
    </nav>
     
    
	<div class="container-fluid">
  		<div class="row content">
  			<div class="col-sm-12">
  				{% block content %}{% endblock %}
  			</div>
  		</div>
  	</div>
</body>
</html>