{% extends "frontend/base.html" %}

{% block content %}
    <h4><small>RECENT POSTS</small></h4>
    <a href= "{% url 'new_blogpost' %}"><h4><small> Submit a post! </small></h4></a>
    <a href= "{% url 'signout' %}"><h4><small> Sign out </small></h4></a>
    <hr>
    {% if response %}
      {% for blog in response %}
        <div class="blog-post" id="{{blog.pk}}">
          <a href = "{% url 'blog_post' blog.pk%}"><h2> {{ blog.fields.title }} </h2> </a>
          <h4> {{ blog.fields.author_name }} </h4>
          <p> {{ blog.fields.body }} </p>
          <br>
        </div>
      {% endfor %}
    {% endif %} 
{% endblock %}